<% if current_user %>
  <% if current_message %>
    <h1><%= current_message %></h1>
    <a href="/message/dismiss">Dismiss</a>
  <% else %>
    <br/>
    Sign out and back in to view an inspirational message
  <% end %>
<% else %>
  <h1>Sign in to see an inspirational message</h1>
<% end %>